<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Thomas Davis - Front end web developer</title>
  <meta name="description" content="Thomas Davis is a front end web developer from Brisbane, Australia.   Works heavily in Javascript and CSS/HTML.">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="../stylesheets/base.css">
  <link rel="stylesheet" href="../stylesheets/skeleton.css">
  <link rel="stylesheet" href="../stylesheets/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="../favicon.ico">

</head>
<body>



  <!-- Primary Page Layout
  ================================================== -->

  <!-- Delete everything in this .container and get started on your own site! -->

  <div class="container">
      <h1 class="remove-bottom" style="margin-top: 40px"><a style="text-decoration: none;" href="http://thomasdav.is">Thomas Davis</a></h1>
      <h5>thomasalwyndavis@gmail.com</h5>
      <hr />
      <div class="four columns ">
      <h3>About</h3>
      <p><img src="http://www.gravatar.com/avatar/cff733cf90823edd218a834980379c61.jpg" style="float:left; margin-right: 15px; padding:2px; border: 1px solid #ddd;" />Hey guys, I've been developing on the web for ~10 years.   I have delved into many areas but of recent decided on focusing on front end web development. I'm currently<strong> for hire</strong> and living in Brisbane, Australia
      </p>
      <p>I work heavily with</p>
      <ul class="square">
        <li>Javascript</li>
        <li>RESTful API's</li>
        <li>CSS/HTML</li>
      </ul>
      <p>Also check out my full <a href="https://docs.google.com/document/pub?id=1UBNEBABOoDHeSgHUny48rPjqdFp_Ko39Cue9EXtcDS8">resume</a> or get in contact on</p>
      <ul class="square">
        <li><a href="http://twitter.com/neutralthoughts">Twitter</a></li>
        <li><a href="http://thomasdavis.github.com">Github</a></li>
      </ul>
    </div>

    <div class="eleven offset-by-one omega columns">
      <%= content %>

              <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'thomasdavishome'; // required: replace example with your forum shortname
            var disqus_identifier = '<%= file %>';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        

    </div>
       
    
  </div><!-- container -->

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100539872); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100539872ns.gif" /></p></noscript>
<!-- End Document
================================================== -->
</body>
</html>